In [1]:
# Importing necessary packages 

import numpy as np     
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
import mysql.connector

In [2]:
# Implementing Database connection 

config={'user':'root','password':'Madhar@20','host':'localhost','database':'project_netflix'}
connection=mysql.connector.connect(**config)
cursor=connection.cursor()

In [3]:
query_select="SELECT * FROM NETFLIX"
cursor.execute(query_select)
content=cursor.fetchall()
#print(content)
cursor.close()

True

In [4]:
# Importing dataset 

df= pd.read_csv(r'C:\Everything\Coding\datasets\Netflix_Raw_Dataset.csv')

In [5]:
# Number of columns and rows
df.shape

(8807, 12)

In [6]:
# Number of elements in dataset
df.size

105684

In [7]:
# Drop if any duplicates found
df.drop_duplicates(inplace=True)

In [8]:
# Specifies there is no duplicates
df.shape

(8807, 12)

In [9]:
# Columns in the dataset
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
# Overall Informations about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [11]:
# Every datatypes used in dataset
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [12]:
# Counting whether null values are present
df.isna().sum() # Null values are present in some of the columns

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [13]:
# Renaming Columns for their better look
for i in df.columns:
    df.rename(columns={i:i.capitalize()},inplace=True)

In [14]:
# Altering Show id to be in interger and unique
for i in df.index:
    df.at[i,'Show_id']=i+1

In [15]:
# There is no need of cleaning in Type and Title column

In [16]:
# Filling the null values in director as unspecified
df['Director'].fillna('Unspecified',inplace=True)

C:\Users\Mathi priyan\AppData\Local\Temp\ipykernel_31200\2749038590.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Director'].fillna('Unspecified',inplace=True)

In [17]:
# Filling the null values in Cast as unspecified
df['Cast'].fillna('Unspecified',inplace=True)

C:\Users\Mathi priyan\AppData\Local\Temp\ipykernel_31200\1836977876.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cast'].fillna('Unspecified',inplace=True)

In [18]:
# Fetching only the  Main actor 
df['Cast']=df['Cast'].str.split(',').str[0]
df.rename(columns={'Cast':'Main Actor'},inplace=True)

In [19]:
# Filling the null values in Country as most repeated countries
df['Country'].fillna(df['Country'].mode()[0],inplace=True)

C:\Users\Mathi priyan\AppData\Local\Temp\ipykernel_31200\727958050.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Country'].fillna(df['Country'].mode()[0],inplace=True)

In [20]:
# Renaming Date_added to Netflix_release for an easy read
df.rename(columns={'Date_added':'Netflix_release'},inplace=True)

In [21]:
# Filling the null values in Netflix_release as most repeated countries
df['Netflix_release'].fillna(df['Netflix_release'].mode()[0],inplace=True)

C:\Users\Mathi priyan\AppData\Local\Temp\ipykernel_31200\1677216042.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Netflix_release'].fillna(df['Netflix_release'].mode()[0],inplace=True)

In [22]:
# To check if there is null value after replacing
df['Netflix_release'].isna().sum()

np.int64(0)

In [23]:
# There is no null values in Release_year

In [24]:
# Rows that are null in Rating 
df[df['Rating'].isna()]

,Show_id,Type,Title,Director,Main Actor,Country,Netflix_release,Release_year,Rating,Duration,Listed_in,Description
5989,5990,Movie,13TH: A Conversation with Oprah Winfrey & Ava ...,Unspecified,Oprah Winfrey,United States,"January 26, 2017",2017,NaN,37 min,Movies,Oprah Winfrey sits down with director Ava DuVe...
6827,6828,TV Show,Gargantia on the Verdurous Planet,Unspecified,Kaito Ishikawa,Japan,"December 1, 2016",2013,NaN,1 Season,"Anime Series, International TV Shows","After falling through a wormhole, a space-dwel..."
7312,7313,TV Show,Little Lunch,Unspecified,Flynn Curry,Australia,"February 1, 2018",2015,NaN,1 Season,"Kids' TV, TV Comedies","Adopting a child's perspective, this show take..."
7537,7538,Movie,My Honor Was Loyalty,Alessandro Pepe,Leone Frisa,Italy,"March 1, 2017",2015,NaN,115 min,Dramas,"Amid the chaos and horror of World War II, a c..."

In [25]:
df['Rating'].values

array(['PG-13', 'TV-MA', 'TV-MA', ..., 'R', 'PG', 'TV-14'], dtype=object)

In [26]:
# Beacuse there is only 4 null values we can easily find them in google and replace it with real values
df.at[5989,'Rating']='PG-13'
df.at[6827,'Rating']='PG-13'
df.at[7312,'Rating']='PG'
df.at[7537,'Rating']='PG-13'

In [27]:
# There are no null rows in Rating after replacing
df[df['Rating'].isna()]

Empty DataFrame
Columns: [Show_id, Type, Title, Director, Main Actor, Country, Netflix_release, Release_year, Rating, Duration, Listed_in, Description]
Index: []

In [28]:
# Replacing null values in Duration as most repeated Duration
df['Duration'].fillna(df['Duration'].mode()[0],inplace=True)

C:\Users\Mathi priyan\AppData\Local\Temp\ipykernel_31200\2342807202.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Duration'].fillna(df['Duration'].mode()[0],inplace=True)

In [29]:
# As there is no null values in Duration after replacing
df['Duration'].isna().sum()

np.int64(0)

In [30]:
df.head()

,Show_id,Type,Title,Director,Main Actor,Country,Netflix_release,Release_year,Rating,Duration,Listed_in,Description
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unspecified,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,2,TV Show,Blood & Water,Unspecified,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,3,TV Show,Ganglands,Julien Leclercq,Sami Bouajila,United States,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,4,TV Show,Jailbirds New Orleans,Unspecified,Unspecified,United States,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,5,TV Show,Kota Factory,Unspecified,Mayur More,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [31]:
df.rename(columns={'Listed_in':'Genres'},inplace=True)

In [32]:
df['Genres']=df['Genres'].str.split(',').str[0]

In [35]:
# We are fetching only the Main director if it has multiple directors
temp_directors=df[df['Director'].str.contains(',')]
df.loc[temp_directors.index,'Director']=temp_directors['Director'].str.split(',',n=1).str[0]

In [36]:
df.head()

,Show_id,Type,Title,Director,Main Actor,Country,Netflix_release,Release_year,Rating,Duration,Genres,Description
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Unspecified,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,2,TV Show,Blood & Water,Unspecified,Ama Qamata,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,International TV Shows,"After crossing paths at a party, a Cape Town t..."
2,3,TV Show,Ganglands,Julien Leclercq,Sami Bouajila,United States,"September 24, 2021",2021,TV-MA,1 Season,Crime TV Shows,To protect his family from a powerful drug lor...
3,4,TV Show,Jailbirds New Orleans,Unspecified,Unspecified,United States,"September 24, 2021",2021,TV-MA,1 Season,Docuseries,"Feuds, flirtations and toilet talk go down amo..."
4,5,TV Show,Kota Factory,Unspecified,Mayur More,India,"September 24, 2021",2021,TV-MA,2 Seasons,International TV Shows,In a city of coaching centers known to train I...

In [37]:
df.to_csv(r'C:\Everything\Coding\datasets\Netflix_Cleaned_Dataset.csv')